<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }
</style>

<title>
	Home | Sistema de Actas
</title>
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!--Import materialize.css-->
 <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

 <!--Let browser know website is optimized for mobile-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<div class="header-container z-depth-5">
	<div class="header-logo">
	<!--	<img src="/resources/logo2.png" alt="notifications logo" height="64" width="47">-->
	</div>
    <div class="header-tittle">
		<h1>Universidad Nacional de Rio Cuarto</h1>
		<p>Sistema de actas Publicas</p>
		<div class="clearfix"></div>
	</div>
	<div class="header-menu">
		<ul class = "ullista">
			  <li class= "lista"><a href="/about" >about</a></li>
			  <li class= "lista"><a href="/sign_in" >index</a></li>
		  </ul>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>



<div class="row">

	<div class="column1 z-depth-2 col s5 col m3 col l2" >
    	<%= yield %>
    </div>
	<div class="column2 col s6 col m8 col l9">

		<ul class="z-depth-1" id="li1">

			<li >
				<h4 class="z-depth-2" id="section_headder" >Listado de actas publicas</h4>
				<div>
					<form class="searchbyres" action="/index" method="post">
					   <div class="col s2"><a>Desde </a><input type="date" placeholder="Fecha de inicio" name="initiate_date" value="<%= @initial_date %>"> </div>
					   <div class="col s2"><a>Hasta </a><input type="date" placeholder="Fecha de fin" name="end_date" value="<%= @end_date %>"></div>
					   <div class="col s2"><a>Resolucion </a><input type="text" placeholder="Resolución" name="resolution"></div>
					   <div class="s8 input-search">
					   <div class="lupa"><button type="submit"><i class="fa fa-search"></i></button></div>
					</form>
					<%if @arr[0] == nil && @not_found_docs %>
					  <form><a class="notfound"> <%=@not_found_docs%> </a></form><br>
					  <form class="back-button"action="/myrecords" method="get">
					    <button class="button1">Volver</button>
					  </form><br>
					<% end %>
				</div>
			</li>
			<li>
				<ul class="lista_publica myScroll">
					<% @arr.each do |elem| %>

					<li class="li-box">
						<div class="record-box">
							<div class="clearfix"></div>
							<div class="record-data">
								<p><strong><u> Resolución:</u></strong> <strong><%=elem[:resolution]%></strong></p>
								<p> Fecha: <%=elem[:date]%> </p>
								<p >Descripción: <%=elem[:description]%></p>
								</div>
							<div class="options-records-box-public">

								<a href="file/<%= elem[:filename]%>"><strong>Descargar</strong></a>
							</div>
							<div class="clearfix"></div>
					  </div>
					</li>


					<% end %>
				</ul>
			</li>
		</ul>
		</div>

	</div>
</div>
</div>

<div class="clearfix"></div>
<footer class="page-footer">
	<div class="container">
	  <div class="row">
		<div class="col l6 s12">
		  <h5 class="white-text">Sistema de Actas U.N.R.C</h5>
		  <p class="grey-text text-lighten-4">Servicio de Notificacion de actas.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
			</ul>
		</div>
	  </div>
	</div>
	<div class="footer-copyright">
	  <div class="container">
	  © 2020 Copyright
	  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	  </div>
	</div>
  </footer>
</body>
</html>
