<!DOCTYPE html>
<html>
<head>

<title>
	Sistema de Actas
</title>

<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header-container">
	<div class="header-logo">
	<!--	<img src="/resources/logo2.png" alt="notifications logo" height="64" width="47">-->
	</div>
    <div class="header-tittle">
		<h1 >Universidad Nacional de Rio Cuarto </h1>
        <p>Sistema de actas Publicas</p>
	</div>
	<div class="header-menu">
		<ul class = "ullista">
			  <li class= "lista"><a href="/about" >about</a></li>
			  <li class= "lista"><a href="/index" >index</a></li>
		  </ul>
	</div>
	<div class="clearfix"></div>
</div>


<div class="clearfix"></div>

	<div class="column-container">

	<div class="column1" >
    	<%= yield %>
    </div>
<div class="column2">
		
		<ul id="li1">
			
			<li >
				<h1 id="section_headder">Facultad de Ciencias Exactas</h1>
			</li> 
			<li>
				<ul class="lista_publica">
					<% @arr.each do |elem| %>
					
					<li class="li-box"> 
						<div class="record-box">
							<div class="clearfix"></div>
							<div class="record-data">
								<p><strong><u> Resolución:</u></strong> <strong><%=Document.first(filename: elem).resolution%></strong></p>
								  <p> Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%> </p>
							</div>
							<div class="options-records-box-public">
								
								<a href="file/<%= elem%>"><strong>Descargar</strong></a>
							</div>
							<div class="clearfix"></div>
					  </div>
					</li>
					

					<% end %>
				</ul>
			</li>
		</ul>
		</div>

	</div>


</div>
<div class="clearfix"></div>
<div class="footer-container">
	<div class="header-menu">
		<ul class = "ullista">
			  <li class= "lista"><a href="/about" >about</a></li>
			  <li class= "lista"><a href="/index" >index</a></li>
		  </ul>
	</div>
</div>
</body>
</html>
