<div class="column2 col s12">
  <div class="col s12 m10 my-data-box">
    <h3 class="header"><%= @current_user.name %></h3>
    <div class="card horizontal">
      <div class="card-image col s3 my-image-box">
        <img src="<%= @current_user.imgpath %>" width="100%" height="250px">
      </div>
      <div class="card-stacked">
        <div class="card-content row my-info-box">
          <ul class="col s6">
            <p><%= @current_user.surname %></p> <br>
            <p><%= @current_user.name %></p> <br>
            <p><%= @current_user.dni %></p><br>
          </ul>
        </div>
        <div class="card-action" >
          <form action="/modifyphoto" method="get" >
            <button class="button-user transparent-link">>>Cambiar Imagen</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="clearfix"></div>

    <div class="user-options-box">
          <ul>
            <li > <form action="/modifyData" method="get" >
              <button class="btn btn1 waves-effect waves-light col s12 card-panel brown lighten-4">Cambiar Datos</button>
            </form></li>
            <li ><form action="/modifypassword" method="get" >
              <button class="btn btn1 waves-effect waves-light col s12 card-panel brown lighten-4">Cambiar Contraseña</button>
            </form></li>
            <li > <form action="/modifyemail" method="get" >
              <button class="btn btn1 waves-effect waves-light col s12 card-panel brown lighten-4">Cambiar Email</button>
            </form></li>
          </ul>
    </div>

  </div>
</div>
