		<ul id="li1">
			<li >
				<h1 id="section_headder">Mis Actas</h1>
			</li> 
			<li>
				<ol class="lista_publica">
					<% @arr.each do |elem| %>
					<li class="li-box"> 
						<div class="record-box">
							<div class="clearfix"></div>
							<div class="record-data">
								<p><strong><u> Resolución:</u></strong> <strong><%=Document.first(filename: elem).resolution%></strong></p>							
								<p>Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%></p>
							</div>
							<div class="options-records-box">
								<ul class="options-records-list">
									<li class="option">
									<!--	<a href="file/<%= elem%>"><strong>Descargar</strong></a>-->
									<form action="">
									<input type="button" class="button-download" onclick="location.href='file/<%= elem%>';" value="Ver" />
						        	</form>
								    </li>
									<li class="option">
										<input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
										<form action="/myrecords" method="post">
											<input class="button-modify" type="submit"	name="tagg" value="Tag">
											<input type="text" name="elem" value ="<%=elem %>" class="button" hidden>
										</form>
									</li>
									<li class="option">
										<input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
										<form action="/myrecords" method="post">
											<input class="button-delete" type="submit"	name="delete" value="Borrar">
											<input type="text" name="elem" value ="<%=elem %>" class="button" hidden>
										</form>
									</li>



								</ul>
							</div>
							<div class="clearfix"></div>
				  		</div>
					</li>
					<% end %>
				</ol>
			</li>
		</ul>
		