<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }
</style>

<ul id="li1">
  <li >
    <h1 id="section_headder">Mis Actas</h1>
  </li>
  <%if @superAdmin == "submit" %>
    <form class="searchbyres" action="/myrecords" method="post">
      <input type="text" placeholder="Buscar acta por numero de resolución.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form><br>
    <%if @arr[0] == nil %>
      <form><a style="color:red;padding-left: 37px;"> <%=@not_found_docs%> </a></form><br>
      <form action="/myrecords" method="get" style="width: 20%;padding-left: 37px">
        <button class="button1">Volver</button>
      </form><br>
    <% end %>
  <% end %>
  <li>
    <ol class="lista_publica">
      <% @arr.each do |elem| %>
      <li class="li-box"> 
        <div class="record-box">
          <div class="clearfix"></div>
          <div class="record-data">
            <p><strong><u> Resolución:</u></strong> <strong><%=Document.first(filename: elem).resolution%></strong></p>             
            <p>Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%></p>
          </div>
          <div class="options-records-box">
            <ul class="options-records-list">
              <li class="option">
              <!--  <a href="file/<%= elem%>"><strong>Descargar</strong></a>-->
              <form action="">
              <input type="button" class="button-download" onclick="location.href='file/<%= elem%>';" value="Ver" />
                  </form>
                </li>
              <li class="option">
                <input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
                <form action="/myrecords" method="post">
                  <input class="button-modify" type="submit"  name="taggear" value="Editar || Notificar">
                  <input type="text" name="elem" value ="<%=elem %>" class="button" hidden>
                </form>
              </li>
              <li class="option">
                <input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
                <form action="/myrecords" method="post">
                  <input class="button-delete" type="submit"  name="delete" value="Borrar">
                  <input type="text" name="elem" value ="<%=elem %>" class="button" hidden>
                </form>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          </div>
      </li>
      <% end %>
    </ol>
  </li>
</ul>