  <head>
    <title>Editar - Notificar | Sistema de Actas</title>
  </head>
 <div class="column-container">
      <div class="column2">
        <embed src="<%= @record.path %>" type="application/pdf" width="100%" height="600px" />
      </div>
     
      <div class="column1" style="width: 30%;">
        <form action="/myrecords" method="get" >
            <button class="button">Cancelar</button>
            </form><br>
        <form class="" action="/tagg" method="post">
          <label for="fname">Fecha de subida:</label><br>
          <input type="text" name="realtime" value="<%= @record.realtime.strftime("%d/%m/%y") %>" class="button"readonly><br>
          <label for="fname">Descripcion:</label><br>
          <input type="text" name="description" value="<%= @record.description %>"  class="button"><br>
          <label for="fname">N° de Resolucion:</label><br>
          <input type="text" name="resolution" value="<%= @record.resolution %>" class="button"><br>
          <input type="text" name="doc" value ="<%= @record.id %>" class="button" hidden><br>
          <h3>Notificar a personas:</h3>
          
          <div id="myDIV">
            <input class="button"type="text" id="myInput" placeholder="Ingrese DNI sin espacios ni puntos..." style="width: 70%;">
            <span onclick="newElement()" class="addBtn">Añadir</span>
          </div>
          <div class="notifications" style="width: 90%;padding-top: 20px";>
            <h5>Personas notificadas y/o a notificar:</h5>
            <div class="person" style="min-height: 200px;float: left;width: 45%";>
              <ul><% @dni_docc.each do |elem| %>
                <lu><%=elem.dni%><br></lu>
                </ul>
              <% end %>
              <ul id="myUL"style="min-height:150px; color:green; padding-top: 10px" >
              </ul>
             </div>
          </div>
            <input type="submit" value="Guardar"class="button">
        </form>
        </div>
        
    </div>

<script>

// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}
// Create a new list item when clicking on the "Add" button
function newElement() {
  var x = document.createElement("input");
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);

  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
    document.getElementById("myUL").appendChild(x);
  }
  document.getElementById("myInput").value = "";
  x.setAttribute("type","hidden");
  x.setAttribute("name","tagg[]");
  x.setAttribute("value",inputValue);

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>

