<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="column-container">
      <div class="column1">

        <form class="button"  action="/load" method="post" enctype="multipart/form-data">
          <input type="file" name="pdf" value=""class="button">
          <input type="submit" value="cargar"class="button">
        </form>
        <form class="" action="/pre_upload" method="post">
          <label for="fname">Date:</label><br>
          <input type="text" name="date" value="" class="button">
          <label for="fname">Description:</label><br>
          <input type="text" name="description" value="" class="button">
          <label for="fname">Res N°:</label><br>
          <input type="submit" value="pre cargar"class="button">
          <input type="text" name="path" value="<%= @src %>" class="button" readonly>
        </form>
      </div>
      <div class="column2">
        <embed src="<%= @src %>" type="application/pdf" width="100%" height="600px" />
      </div>
      <div class="column1">
        <form class="button" action="/upload" method="post">
          <input type="text" name="path" value="<%= @src %>" class="button" readonly>
          <input type="text" name="date" value="<%= @date %>" class="button" readonly>
          <input type="text" name="description" value="<%= @description %>" class="button" readonly>
          antes de subir debera revisar el documento y taggear a los involucrados
          <input type="submit" value="subir"class="button">
        </form>
        <form class="" action="" method="post">
          <div id="myDIV" >
            <input type="text" id="myInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn">Add Tag DNI</span>
          </div>
            <ul id="myUL" >
            </ul>
        </form>
  	  </div>
    </div>
  </body>
</html>

<script>
// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";
 }



</script>
