<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    font-family: Arial;
  }

  * {
    box-sizing: border-box;
  }
</style>

<ul class="z-depth-1" id="li2">
  
  <li class=" z-depth-2">
  <h4 id="section_headder" style="padding-top: 0px; margin: 15px 0em 0em 0em;">Mis Notificaciones</h4>
  </li>
  <div class="notifications-box" >
  <li>
    <ol class="notification-list" style="padding-top:0em ">
      <% @not_checkeds.each do |elem| %>
      <li class="li-box z-depth-1"> 
        <div class="record-box">
          <div class="clearfix"></div>
          <div class="record-data" style="font-weight: bold;"> 
            <p ><u> Resolución:</u> <%=Document.first(filename: elem).resolution%></p>
            <p >Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%></p>
            <p >Descripcion: <%=Document.first(filename: elem).description%></p>
          </div>
          <div class="options-records-box">
            <ul class="options-records-list">
              <li id="option2">
                <form  action="/user_documents" method="post">
                  <input type="text" name="path" value="file/<%= elem%>" hidden>
                  <input  type= "submit" value="Ver acta" class="button-download">
            		</form><br>
              </li>
              <li id="option2">
                <form  action="/check_documents" method="post">
                  <input type="text" name="path" value="file/<%= elem%>" hidden>
                  <input  type= "submit" value="Marcar leído" class="button-mark-read" >
                  <!--<button style="padding-left: 0em;"class="btn waves-effect waves-light " type="submit" name="action" >
                    <i style="margin-left:0em ; padding: 0em;" class="material-icons right">done_all
                    </i>
                  </button>-->
            		</form><br>
              </li>
              <li id="option2">
                <input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          </div>
      </li>
      <% end %>
    </ol>
  </li>
  <li>
    <ol class="notification-list">
      <% @checkeds.each do |elem| %>
      <li class="li-box"> 
        <div class="record-box">
          <div class="clearfix"></div>
          <div class="record-data">
            <p><u> Resolución:</u><%=Document.first(filename: elem).resolution%></p>
            <p>Fecha: <%=Document.first(filename: elem).realtime.strftime("%d/%m/%y")%></p>
            <p>Descripcion: <%=Document.first(filename: elem).description%></p>
          </div>
          <div class="options-records-box">
            <ul class="options-records-list">
              <li id="option2">
                <form  action="/user_documents" method="post">
                  <input type="text" name="path" value="file/<%= elem%>" hidden>
                  <input  type= "submit" value="Ver acta" class="button-download">
            		</form><br>
              </li>
              <li class="option">
                <input type="text" name="elem" value ="<%= elem %>" class="button" hidden>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          </div>
      </li>
      <% end %>
    </ol>
  </li>
</div>
</ul>
